@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-draw {
    animation: draw 3s ease-in-out infinite;
  }

  .animate-dash {
    stroke-dasharray: 10;
    animation: dash 3s linear infinite;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: -1000;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}